* {
   font-family: 'Open Sans', sans-serif;
}

body {
   background-color: #eff3ff;
   text-align: center;
   margin:0;
   padding:0;
}

#admin-label {
   position: fixed;
   font-size:20px;
   right:90px;
   top:36px;
   color: #264673;
}

#admin-mode-btn {
   position: fixed;
   width:60px;
   height:60px;
   top:20px;
   right:20px;
   border-radius:40px;
   background-color: #264673;
   cursor:pointer;
   transition: background-color .3s;
}

#admin-mode-btn:hover {
   background-color:#213c60;
}

#admin-img {
   width:48px;
   margin:3px 6px;
}

#datepicker {
   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   padding: 15px;
   border: 1px solid black;
}

#datepicker-note {
   position: absolute;
   bottom:10px;
   left:50%;
   transform: translateX(-50%)
}

#time-format-container {
   position: absolute;
   top:6px;
   left:50%;
   transform: translateX(-50%)
}

.time-format__option {
   font-size:14px;
   cursor:pointer;
}

#time-format__standard {
   position: absolute;
   left:16px;
   top:10px;
   font-size: 18px;

}

#time-format__military {
   position: absolute;
   left:16px;
   top:36px;
   font-size: 18px;
   color:#878787;
}

#events {
   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
}

.events-top {
   top:20px !important;
   left:50% !important;
   transform: translateX(-50%) !important;
}

.event {
   display: block;
   width: 398px;
   max-height: 80px;
   line-height:40px;
   margin-top:10px;
   padding:10px 30px;
   border-radius: 6px;
   color:white;
   text-align: center;
   cursor:pointer;
   overflow:hidden;
   transition: max-height .75s;
}

.event-users-name {
   display: block;
   width:390px;
   line-height: 34px;
   padding-left:6px;
   margin: 10px 0 3px 0;
   border:none;
   outline:none;
   border-radius:3px;
   font-size:14px;
}

.block-label {
   float:left;
   clear:both;
   text-align:left;
}

.user-submit-btn {
   display: block;
   width:100px;
   line-height: 30px;
   border:black 1px solid;
   outline:none;
   background:white;
   float:right;
   border-radius:3px;
   font-size:14px;
   cursor:pointer;
   color:black;
}

.task-submit-btn {
   display: block;
   width:100px;
   line-height: 30px;
   border:black 1px solid;
   outline:none;
   background:white;
   float:left;
   border-radius:3px;
   font-size:14px;
   cursor:pointer;
   color:black;
}

#task_label {
	position: relative;
	float: left;
	clear: both;
	display: block;
	width: 398px;
	padding-bottom: 10px;
}

.task-clear-btn {
	display: block;
	width:100px;
	line-height: 30px;
	border:black 1px solid;
	outline:none;
	float: left;
	background:white;
	border-radius:3px;
	font-size:14px;
	cursor:pointer;
	color:black;
}

.task-clear-btn, .task-submit-btn {
	display:inline-block;
}

#tasks {
	width: 414px;
	margin:8px 0;
	word-break:break-all;
}

#create-event-container {
    display: block;
    width: 414px;
    height: auto;
    margin: 10px auto;
    padding: 20px 20px 50px 20px;
    border-radius: 6px;
    background-color: #264673;
    color: white;
    text-align: center;
}

#datepicker-create {
   line-height: 34px;
   font-size:14px;
   margin-top:3px;
   outline:none;
   border-radius:3px;
   border:none;
   padding: 0 6px;
}

.create-event__time-block-container {
   display: inline-block;
   width:100px;
   margin:12px 0;
}

.block-label-create {
   display: block;
   text-align:center;
   padding:2px 0;
}

#event-time__label {
	position: relative;
    float: left;
    clear: both;
    display: block;
    width: 398px;
    padding-bottom: 10px;
}

#create-event-note {
   font-size:14px;
}

#existing-events-container {
   width:100%;
   text-align: center;
}

#existing-events__label {
   margin:20px 0;
   font-size:20px;
   color:black;
}

.existing-event {
   width:413px;
   padding:0 20px;
   margin:10px auto;
   max-height:80px;
   border-radius:6px;
   color:white;
   cursor:pointer;
   text-align: left;
   overflow: hidden;
   transition: max-height .75s;
}

.existing-event__name {
   float:left;
   line-height:24px;
   margin: 10px 0;
}

.existing-event__date {
   float:right;
   line-height:24px;
   font-weight: 300;
   margin-top:10px;
}

.existing-event__times {
   float:left;
   margin-bottom:20px;
   line-height: 24px;
   clear:both;
   font-weight: 300;
}

.existing-event__people-label {
   float:left;
   clear:both;
   font-size:20px;
   margin-bottom:3px;
}

.existing-event__person {
   float:left;
   clear:both;
   font-weight: 300;
   margin:8px 0;
}

.existing-event__task-label {
   float:left;
   clear:both;
   font-size:20px;
   margin-top: 12px;
   margin-bottom:3px;
}

#eventTasksSelect {
	float:left;
   clear:both;
   font-size:20px;
   margin-top: 12px;
   margin-bottom:3px;
   width: 395px;
}